:host {
  display: block;
  width: 90%;
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 5px;

  .match-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
  }

  .competition,
  .time {
    color: var(--secondary-font-color);
    font-size: 13px;
    font-weight: 500;
  }

  .time {
    padding-top: 12px;
  }

  .match-info {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .home-team,
    .away-team {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 26%;
          height: auto;
          padding: 8px;
          background-color: #c80037;
          border-radius: 4px;
        }
      }

      .team-name {
        padding-top: 8px;
      }
    }

    .center-info {
      min-width: 110px;
      flex: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      .score {
        display: flex;
        gap: 4px;
        font-size: 30px;
        font-weight: 700;
      }

      .status {
        font-weight: 500;
        font-size: 14px;
        padding-top: 8px;
        text-transform: uppercase;
      }
    }
  }
}
