:host {
  background-color: var(--app-bg-color);
  width: 100%;

  .calendar-table {
    display: flex;
    flex-direction: column;
  }

  .table-header {
    display: flex;
  }

  .table-row {
    display: flex;
  }

  .table-cell {
    flex: 1;
  }
}
