:host {
  background-color: var(--app-bg-color);
  width: 100%;
  height: 100%;

  .calendar {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 1024px;
    margin: auto;
  }

  .calendar-inner {
    padding: 10px 10px;
  }

  .calendar-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .calendar-prev,
  .calendar-next {
    padding: 4px 12px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin: 10px 0 10px 0;
    cursor: pointer;
  }

  .calendar-year-month {
    display: flex;
    min-width: 100px;
    justify-content: space-evenly;
    align-items: center;
  }

  .calendar-month-year-label {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
  }

  .calendar-today-date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    text-align: center;
    background: var(--bg-color-darker);
    color: var(--primary-color);
    font-weight: 600;
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;

    .fill {
      width: 20px;
      height: 20px;
    }
  }

  .calendar-body {
    display: flex;
    flex-direction: column;
    height: 350px;
    transition: height 0.1s;

    &.collapsed {
      height: 0px;
      overflow: hidden;
    }
  }

  .calendar-weekdays {
    display: flex;

    .calendar-cell {
      border: 1px solid transparent;
      border-bottom: 1px solid var(--weekdays-border-bottom-color);
    }
  }

  .calendar-row {
    display: flex;
    flex: 1;

    .calendar-cell:hover {
      border: 1px solid var(--calendar-date-hover-color);
      border-radius: 4px;
    }

    .selected {
      background: var(--calendar-today-color);
      border-radius: 4px;
    }
  }

  .calendar-cell {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4px;
    min-height: 30px;
    line-height: 18px;
    border: 1px solid transparent;
    margin: 10px 2px 0px;
    cursor: pointer;

    &.non-current {
      color: var(--calendar-prevnext-date-color);
    }

    .dot {
      margin: 5px;
      height: 7px;
      width: 7px;
      background: linear-gradient(45deg, #02af75, #30cbc3);
      border-radius: 50%;
      display: inline-block;
    }

    .empty {
      height: 17px;
      width: 17px;
      background-color: var(--app-bg-color);
      display: inline-block;
    }
  }

  .match-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
  }
}
