<div class="calendar">
  <div class="calendar-inner" [ngSwitch]="view">

    <!-- CALENDAR CONTROLS -->
    <div class="calendar-controls">

      <!-- PREVIOUS BUTTON -->
      <nav-button [direction]="'left'" (click)="nextOrPrev(-1)"></nav-button>

      <!-- MONTH YEAR DISPLAY AND SELECTOR -->
      <div class="calendar-year-month">
        <div class="calendar-month-year-label" (click)="switchMonthYearSelector()">
          <div *ngIf="(this.view === CalendarView.YEAR_SELECT)">
            {{ calendarService.years[0].getFullYear() + ' - ' +
            calendarService.years[calendarService.years.length-1].getFullYear() }}
          </div>
          <div *ngIf="(this.view === CalendarView.NORMAL)">
            {{ calendarService.displayedDate.toLocaleString('default', { month: wordSize }) }}
          </div>
          <div *ngIf="(this.view === CalendarView.NORMAL)">-</div>
          <div *ngIf="(this.view === CalendarView.NORMAL || this.view === CalendarView.MONTH_SELECT)">
            {{ calendarService.displayedDate.getFullYear() }}
          </div>
        </div>
      </div>

      <!-- NEXT BUTTON -->
      <nav-button [direction]="'right'" (click)="nextOrPrev(1)"></nav-button>
    </div>

    <!-- CURRENT DATE SELECTION -->
    <div class="calendar-today-date" (click)="openCalendar()">
      <calendar-icon></calendar-icon>
      {{ calendarService.formatDateToString(calendarService.selectedDate) }}
      <div class="fill"></div>
    </div>

    <!-- NORMAL VIEW -->
    <div class="calendar-body" *ngSwitchCase="CalendarView.NORMAL" [class.collapsed]="isCalendarCollapsed">
      <div class="calendar-weekdays">
        <div class="calendar-cell" *ngFor="let day of this.calendarService.weekdays">
          {{ day.toLocaleString('default', { weekday: wordSize }) }}
        </div>
      </div>
      <div class="calendar-row" *ngFor="let week of [1,2,3,4,5]; let i = index">
        <div class="calendar-cell" *ngFor="let day of [1,2,3,4,5,6,7]; let j = index"
          [class.non-current]="!calendarService.calendar[(i*7)+j].currentMonth"
          [class.selected]="isSelected(calendarService.calendar[(i*7)+j].date, 'date')"
          (click)="selectDate(calendarService.calendar[(i*7)+j])">
          <span>{{ calendarService.calendar[(i*7)+j].dateShort }}</span>
          <span class="dot" *ngIf="calendarService.calendar[(i*7)+j].matches.length"></span>
          <span class="empty" *ngIf="!calendarService.calendar[(i*7)+j].matches.length"></span>
        </div>
      </div>
    </div>

    <!-- MONTH PICKER -->
    <div class="calendar-body" *ngSwitchCase="CalendarView.MONTH_SELECT" [class.collapsed]="isCalendarCollapsed">
      <div class="calendar-row" *ngFor="let row of [0,1,2,3]; let i = index">
        <div class="calendar-cell" *ngFor="let month of [0,1,2,3]; let j = index" [class.non-current]="!((i*4)+j < 12)"
          [class.selected]="isSelected(this.calendarService.months[(i*4)+j], 'month')"
          (click)="selectMonth(this.calendarService.months[(i*4)+j])">
          {{ this.calendarService.months[(i*4)+j].toLocaleString('default', { month: wordSize }) }}
        </div>
      </div>
    </div>

    <!-- YEAR PICKER -->
    <div class="calendar-body" *ngSwitchCase="CalendarView.YEAR_SELECT" [class.collapsed]="isCalendarCollapsed">
      <div class="calendar-row" *ngFor="let row of [0,1,2,3]; let i = index">
        <div class="calendar-cell" *ngFor="let month of [0,1,2,3]; let j = index"
          [class.selected]="isSelected(this.calendarService.years[(i*4)+j], 'year')"
          (click)="selectYear(this.calendarService.years[(i*4)+j])">
          {{ this.calendarService.years[(i*4)+j].getFullYear() }}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noMatches>
  <div class="no-matches">
    <span>No matches on this day</span>
  </div>
</ng-template>

<ng-container *ngIf="calendarService.selectedDay?.matches?.length; else noMatches">
  <div class="match-list">
    <match-card *ngFor="let match of calendarService.selectedDay?.matches" [match]="match"
      [routerLink]="['/match-detail', match.matchId]"></match-card>
  </div>
</ng-container>


<float-button [routerLink]="['/new-match']"></float-button>