<div class="match-card" *ngIf="(match.status === 'played'); else scheduled">
  <div class="competition">{{ match.originCompetitionName }}</div>
  <div class="time">{{ [match.dateVenue, match.timeVenueUTC] | utcToLocal }}</div>
  <div class="match-info">
    <div class="home-team">
      <div class="logo">
        <img src="/assets/badge-placeholder.png" alt="logo-placeholder">
      </div>
      <div class="team-name">
        {{ match.homeTeam ? match.homeTeam.name : "TBA" }}
      </div>
    </div>
    <div class="center-info">
      <div class="score">
        <div class="home-score">{{ match.result?.homeGoals }}</div>
        <span>-</span>
        <div class="away-score">{{ match.result?.awayGoals }}</div>
      </div>
      <div class="status">{{ match.status }}</div>
    </div>
    <div class="home-team">
      <div class="logo">
        <img src="/assets/badge-placeholder.png" alt="logo-placeholder">
      </div>
      <div class="team-name">
        {{ match.awayTeam ? match.awayTeam.name : "TBA" }}
      </div>
    </div>
  </div>
</div>

<ng-template #scheduled>
  <div class="match-card">
    <div class="competition">{{ match.originCompetitionName }}</div>
    <div class="time">{{ [match.dateVenue, match.timeVenueUTC] | utcToLocal }}</div>
    <div class="match-info">
      <div class="home-team">
        <div class="logo">
          <img src="/assets/badge-placeholder.png" alt="logo-placeholder">
        </div>
        <div class="team-name">
          {{ match.homeTeam ? match.homeTeam.name : "TBA" }}
        </div>
      </div>
      <div class="center-info">
        <div class="score">
          <span>-</span>
        </div>
        <div class="status">{{ match.status }}</div>
      </div>
      <div class="home-team">
        <div class="logo">
          <img src="/assets/badge-placeholder.png" alt="logo-placeholder">
        </div>
        <div class="team-name">
          {{ match.awayTeam ? match.awayTeam.name : "TBA" }}
        </div>
      </div>
    </div>
  </div>
</ng-template>