:host {
  font-family: "IBM Plex Sans", sans-serif;
  background: var(--bg-color);
  color: var(--font-color);
  min-height: 100vh;
  display: block;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
