:host {
  .float-button {
    position: absolute;
    bottom: 25px;
    right: 10px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 420px;
    line-height: 22px;
    font-size: 15px;
    width: 58px;
    height: 58px;

    span {
      color: var(--font-color);
      font-size: 40px;
      font-weight: 400;
      height: 28px;
    }
  }
}
